Package: com.sst1337.ArtworkAnimations
Name: ArtworkAnimations10
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Animate Your Lockscreen Album Art!
Maintainer: sst1337
Author: sst1337
Section: Tweaks
